---
layout: default
---

<div class="case-page">

  <div class="top-section case-page__header case-page__header-{{page.sector | join: '-' | slugify}}" style="background-image: url('/images/headers/{{page.sector[0]| slugify}}.jpg')">
    <hgroup>
      <h1><span>{{page.caseStudy}}</span></h1>
      <h2 id="data-filter-container">
        {% if page.dataType %}
          {% for item in page.dataType %}
            <!-- 
            This needs a refactor. 
            Why we have this JS to change cursor? 
            Why the <a> inside the <span>? Thsi should be one single tag. 
            I tried it, but it broke the JS, which is also not ideal, since we can have it work with native anchor tag behavior, and #values.
            -->
            <span id="data-type" onmouseover="this.style.cursor='pointer';" class="{{item | slugify}}" ><a id="span-link" class="{{item | slugify}}" href="#">{{ item }}</a></span>
          {% endfor %}
        {% endif %}

        {% if page.sector %}
          {% for item in page.sector %}
            <span onmouseover="this.style.cursor='pointer';" id="data-sector" class="{{item | slugify}}" ><a id="span-link"class="{{item | slugify}}" href="#">{{ item }}</a></span>
          {% endfor %}
        {% endif %}
      </h2>
    </hgroup>
    <div class="case-page__header--button"><a target="_blank" class="button" href="{{page.link}}">Go to website</a></div>
  </div>
<!-- 
  <div class="page-section case-page--info">
    <div class="row align-center case-page--info--top">
      <div class="small-12 column medium-6 ">
        {% if page.whatDataShared %}
          <h4>The Data</h4>
          <p>{{page.whatDataShared}}</p>
        {% endif %}
      </div>
      <div class="small-12 column medium-6 ">
        {% if page.howDataShared %}
          <h4>How the data was shared</h4>
          <p>{{ page.howDataShared }}</p>
        {% endif %}
      </div>
    </div>
  </div> -->

  <div class="page-section case-page--info">
    <div class="row large-unstack">
      <div class="column large-8">
        {% if page.whatDataShared %}
          <h4>DESCRIPTION</h4>
          <p>{{page.whatDataShared}}</p>
          <!-- <p>{{ page.howDataShared }}</p>
          <p>{{ page.purpose }}</p> -->
        {% endif %}
      </div>
      <div class="column large-4">
        {% if page.sharedBy %}
        <div class="share-panel">
          <h5>Shared by</h5>
          {% for item in page.sharedBy %}
            <!-- <a href="#" class="share-panel__item">{{item}}</a> -->
            <span class="share-panel__item">{{item}}</span>
          {% endfor %}
        </div>
        {% endif %}
        {% if page.sharedWith %}
        <div class="share-panel">
          <h5>Shared with</h5>
          {% for item in page.sharedWith %}
            <!-- <a href="#" class="share-panel__item">{{item}}</a> -->
            <span class="share-panel__item">{{item}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="page-section page-section--black regions">
    <div class="row align-center">
      <div class="large-8 column">
        <h3>Region: {{ page.region }}</h3>

        {% assign map_region = page.region %}

        {% if map_region == 'Worldwide' %}
          <div class="regions__map regions--worldwide">
            {% include map.html %}
          </div>
        {% elsif map_region == 'North America' %}
          <div class="regions__map regions--north-america">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Latin America and the Caribbean' %}
          <div class="regions__map regions--latin-america">
            {% include map.html %}
          </div>
        {% elsif map_region == 'East Asia and Pacific' %}
          <div class="regions__map regions--east-asia">
            {% include map.html %}
          </div>
          {% elsif map_region == 'South Asia' %}
            <div class="regions__map regions--south-asia">
              {% include map.html %}
            </div>
        {% elsif map_region == 'Sub-Saharan Africa'%}
          <div class="regions__map regions--sub-saharan-africa">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Middle East and North Africa' %}
          <div class="regions__map regions--north-africa">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Europe and Central Asia' %}
          <div class="regions__map regions--europe">
            {% include map.html %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% assign number = page.dataType | size  %}

{% if number > 3 %}
  <style media="screen">
    .case-page__header { height: 55vh;}
    h2 {
      padding-right: 8%;
      padding-left: 8%;
    }
  </style>
{% endif %}
