// ADD THIS TO STYLEGUIDE

.button--outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: rgba(darken($main-color, 7), .9);
    color: white;
  }
}

.button--outline-dark {
  background-color: transparent;
  border: 1px solid rgba(black, .6);
  color: rgba(black, .6);

  &:hover {
    background-color: rgba($main-color, .9);
    color: darken($main-color, 20);
  } 
}

.button--main-color {
  background-color: $main-color;

  &:hover { background-color: darken($main-color, 4); } 
}