.canvas-page {
  .top-section {
    @include breakpoint($medium-up) {
      padding-top: 140px;  
      padding-bottom: 30px;
    }
  }

  .phase-title {
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
    
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 300;
      @include breakpoint($small-only) { font-size: 1.7rem; }
      @media (max-width: 380px) { font-size: 1rem;}

      span {
        display: inline-block;
        margin: 0 20px;
        opacity: .6;
        cursor: pointer;
        transition: all .3s;
        line-height: .7;

        em {
          display: block;
          font-size: 1rem;
          line-height: 1.6;
          font-style: normal;
          opacity: .6;
        }

        &:focus { outline: 0; }
        &:hover { opacity: 1; }
      }

      .slick-current {
        font-weight: 100;
        opacity: 1;
        transform: scale(1.8);
        transform-origin: bottom;
        transition: all .3s;
        margin: 0 7rem;
        @include breakpoint($small-only) { margin: 0 3rem; }

        em {
          font-weight: 500;
        }
      }

      .slick-list,
      .slick-track { overflow: visible; }
    }
  }
}

.phase-wrapper {
  display: none;
}

.phase-intro {
  font-size: 1.6rem;
  background-color: darken($main-color, 2);
  font-weight: 300;
  color: darken($main-color, 20);
  line-height: 1.4;
  text-align: center;

  @include breakpoint($small-only) { 
    font-size: 1.1rem; 
    padding: 20px;
  }
}

.phase-next {
  background-color: $gray;
  padding: 10px;
  &-wrapper {
    text-align: left;
    a {
      &:hover {
        color: $main-color;
      }
      text-decoration: none;
    }
  }
  span {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: rgba(white, 0.3);
  }
  h4 { margin: 0;}
}


.canvas-step {
  &__section {
    margin-top: 40px;
  }

  &__title {
    font-size: 1.6rem;
    margin: 0;
    font-weight: 300;
    text-transform: capitalize !important;
  }

  &__step-number {
    display: block;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 800 !important
  }

  &__section-title {
    @include breakpoint($small-only) {
      text-align: left;
    }
    text-align: right;
    margin: 0;

    font-size: 1.1rem;
    font-weight: 800;
    margin-right: 30px;
    color: rgba(black, .5);
  }

  &__content {
    font-size: 1.2rem;

    > *:first-child { margin-top: 0; } // Vertically aligns content with section-title

    ul, ol {
      padding-left: 0;
      list-style: none;
    }

    li > strong {
      font-weight: 600;
    }

    > ul > li {
      padding: 8px 5px;
      border-bottom: 1px solid rgba(black, .1);
      &:first-of-type { border-top: 1px solid rgba(black, .1); }
    }

    ul > li > ul { margin-left: 25px; }
    
    ul > li > ul > li {
      position: relative;

      &:before {
        width: 0;
        position: absolute;
        left: -17px;
        height: 0;
        content: '';
        border-left: 7px solid #e5c810;
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        top: 8px;
      }
    }

    a {
      text-decoration: none;
      color: darken($main-color, 10);

      &:hover {
        background-color: rgba($main-color, .2);
      }
    }

    h5 {
      margin-bottom: 0;
      margin-top: 40px;
      text-transform: none;

    }














  }
}