#creating-public-value,
#exchanging-data {
  padding: 0;

  .bg-panel__content {
    @include breakpoint($large-up) { padding: 50px 80px; }
  }

  ul {padding: 0;}
  li {
    margin-bottom: 5px;
    list-style: none;
  }
}

#creating-public-value { text-align: right; }

#exchanging-data {
  .bg-panel__content { background-color: rgba(white, .9); }

  h3, h4 { 
    color: rgba(black, .6); 
    @include breakpoint($small-only) {
      text-align: center;
    }
  }

  .icon-box {
    border-color: rgba(black, .3);
    color: rgba(black, .8);

    &:hover {
      border-color: $main-color;
      background-color: rgba($main-color, .1);
    }
  }
}

#services {
  .checkerboard__content {
      padding-left: 5%;
      padding-right: 5%;  

      @include breakpoint($large-up) {
        padding-left: 15%;
        padding-right: 15%;  
      }
  }
}