.events-page {
  .top-section {
    padding-bottom: 60px;
  }

  .events-panels {
    // text-align: center;
    color: $gray;

    h5 {
      margin-bottom: -10px;
    }

    &__first {
      background-color: rgba(black, .1);
      padding: 50px;
      padding-bottom: 50px;
    }
    &__second {
      // background-color: $gray;
      padding: 50px;
      padding-bottom: 50px;
    }

    &__title {
      border-bottom: 2px $main-color solid;
      &:hover {
        text-decoration: none;
        border-bottom: 2px $main-color solid;
      }
    }
  }
}
