.top-bar {
  &--transparent {
    background-color: rgba(black, .2);
    position: relative;
  }

  .bottom-nav-text { font-size: .8rem; }

  &__logo img { padding-right: 50px; }
}

.main-menu:not(.m-active) {
  box-shadow: none;
}

.top-section {
  margin-top: -50px;

  &__band {
    background-color: rgba($main-color, .95);
  }

  &__dcfb-band {
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
  }

  &--dcfb-bg {
    background-image: url("/images/bgs/dcfb.jpg");
    background-size: cover;
    padding-bottom: 0;
  }
  &--bg {
    background-image: url("/images/video/long-img.png");
    // background-position: center;
    // background-size: cover;
    padding: 140px 0;
    // @include breakpoint($small-only) {
    //   background-image: url("/images/video/long-img.png");
    // }
    // @include breakpoint($medium) {
    //   background-image: url("/images/video/long-img.png");
    // }
    // @include breakpoint($large) {
    //   // background-image: none;
    //   background-color: transparent;
    // }
  }

  &--yellow {
    background-color: $yellow;
  }

  &--gray {
    background-color: $gray;
  }

  &--yellow-list-page {
    margin-top: -50px;
    padding: 100px 0 50px;
    background-color: $yellow;
  }

  &__list-header {
    padding: 0;
    margin: 0;
    @include breakpoint($small-only) {
      padding-right: 30px;
      padding-left: 30px;
      font-size: 1.7rem;
    }
  }

  &__logo {
    z-index: 10;
    position: relative;
    // padding-top: 5%;
  }

  &__main-img {
    margin-top: -50px;
    width: 55%;
    // padding-bottom: 70px;
    @include breakpoint($small-only) {
      width: 90%;
      // padding-top: 50px;
    }
  }

  &__header {
    font-size: 2rem;
    margin: -50px 0 0 0;
    padding-bottom: 10px;
    color: rgba(0,0,0,0.7);
    @include breakpoint($small-only) {
      font-size: 1.5rem;
      padding-bottom: 20px;
    }
  }

  &__author {
    margin-top: 0;
    margin-bottom: 50px;
    @include breakpoint($small-only) {
    }
  }

  &__sub-header {
    margin: 0;
    padding-bottom: 50px;
    color: rgba(0,0,0,0.3);
    @include breakpoint($small-only) {
      padding-bottom: 20px;
    }
  }

  &__dcfb-header {
    // color: $main-color;
    color: white;
  }
  &__dcfb-author {
    // color: $main-color;
    color: white;
    // text-transform: none;
  }
  &__dcfb-sub-header {
    // color: darken($main-color, 10);
    // color: $main-color;
    color: white;
  }

  &__under-video {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
  }
}

.webgl .top-section__backup-logo { display: none; }

.no-webgl {
  .top-section {

    &__logo {
      display: none;
    }

    &__backup-logo {
      width: 150px;
      padding-bottom: 10%;
      padding-top: 15%;
    }

    &__main-img {
      @include breakpoint($small-only) {
        padding-top: 50px;
      }
    }

  }
}

.dcfb-fold {
  &__button {
    color: rgba(black, 0.8);
    background-color: $main-color;
    position: relative;
    top: -57.5px;
    margin: 10px;
    @include breakpoint($small-only) {
      top: -47.5px;
    }
    &:hover {
      color: rgba(black, 0.8);
      background-color: darken($main-color, 5);
    }
    &--no-translate {
      top: 0;
      margin-bottom: 24px;
    }
  }
  &__dcfb-cover {
    position: relative;
    // top: -130px;
    top: 24px;
    left: -50px;
    @include breakpoint($medium) {
      top: 0;
    }
    @include breakpoint($small-only) {
      top: 0;
    }
  }
}
