#introduction {
  .section {
    background-color: black;
  }


  #download-container {
    // adds download button on top of first slide
    background-color: transparent;
    position: relative;
    bottom: 18vh;
    @media (max-width: 600px) {
      bottom: 12vh;
    }
    @media (min-width: 1100px) {
      bottom: 22vh;
    }
  }
  .slide {
    position: relative;
    #slide-instructions {
      // adds instructions below horizontal slides
      background-color: rgba(black, .8);
      text-align: center;
      p {
        color: $main-color;
        text-transform: uppercase;
      }
      @media (min-width: 1100px) {
        bottom: 8vh;
        position: absolute;
        width: 100%;
      }
    }
  }

}

// FULLPAGE STYLE OVERRIDE

.fp-enabled body {
  .top-bar { 
    background-color: black !important;
    position:fixed;
    // height: 70px;
    display:block;
    width: 100%;
    // background: #ccc;
    z-index:9;
    // text-align:center;
    top:0px;
    text-align: center;
    height: 50px;
    display: flex;
  }
}

#fp-nav {
  opacity: .5 !important;
}

.fp-controlArrow {
    margin: 1% !important;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    // border-color: transparent rgba(#fff, 0.4) transparent transparent !important;
    border-color: transparent rgba($gray, 0.1) transparent transparent !important;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    // border-color: transparent transparent transparent rgba(#fff, 0.4) !important;
    border-color: transparent transparent transparent rgba($gray, 0.1) !important;
}

.fp-tooltip {
  color: black !important;
}
