.resources-page {
  .top-section {
    // padding-bottom: 30px;
    h1 {text-transform: uppercase;}
  }
.modal {
    &__content {
      max-height: 40vh;
      @include breakpoint($medium) {
        height: auto;
        overflow-y: initial;
        padding: 30px 0;
      }
      @include breakpoint($small-only) {
        height: auto;
        overflow-y: initial;
        padding: 30px 0;
      }
    }
    @include breakpoint($small-only) {
      width: 100%;
      left:0;
      margin: 0;
      overflow-y: scroll;
      height: 90vh;
    }
  }
  .modal__resource-type {
    float: left;
    padding: 15px 20px;
    > span {
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      margin-right: 10px;
    }
  }
}


.results-section, .results-container { padding: 0;}

.select:before {
  color: white;
  // fixing a bug in styleguide .select component.
  // Let's port the 2 lines below to the styleguide codebase
  z-index: 1;
  pointer-events: none;
  // end of styleguide fix
}

.filter-panel {
  h4 {
    margin: 0 15px 0 0;
    padding: 16px 0;
    font-size: 1.4rem;
    text-align: right;
  }

  .select,
  .button { margin: 12px 5px; }
  .button--icon-only { padding: 10px 12px; }
}

#list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.result-item {
  font-weight: 300;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: white;
  padding: 30px 30px 20px;
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(black, .1);
  border-right: 1px solid rgba(black, .1);
  text-decoration: none;

  @include breakpoint($medium) {
    width: 50%;
    margin: 0;

    a {
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }

  @include breakpoint($large-up) {
    width: calc(100% / 3);
    margin: 0;
  }

  &:hover {
    background-color: rgba(black, .05);

    &:after {
      border-top: 12px solid $main-color;
      border-left: 12px solid $main-color;
    }
  }


  // Sets the triangle on the top left corner
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 12px solid rgba(black, .3);
    border-left: 12px solid rgba(black, .3);
    border-right: 12px solid rgba(black, 0);
    border-bottom: 12px solid rgba(black, 0);
  }

  &__name {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 400;
    text-transform: none;
    min-height: 5rem;
  }

  &__authors {
    font-size: .9rem;
    min-height: 3rem;

    a {
      font-size: .9rem;
      text-decoration: none !important;
      color: rgba($main-color, .6);

      &:hover {
        text-decoration: none;
        color: rgba($main-color, 1);

      }
    }
  }

  &__publication {
    font-size: .9rem;
    min-height: 2.5rem;
    margin-bottom: 15px;

    p {
      margin: 0;
      font-style: italic;
      color: rgba(black, .4);
    }
  }

  &__taxonomy {
    font-size: .8rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 5px;

    &__key {
      width: 60px;
    }

    &__value {
      flex: 1;
    }

    p {
      font-size: .7rem;
      text-transform: uppercase;
      display: inline-block;
      padding: 3px 8px;
      margin: 0;
      margin-top: -1px;
      opacity: .7;
      background-color: rgba(black, .1);
    }
  }
}

.js-active {
  overflow-y: scroll;
}

#overlay {
  overflow-y: scroll;
}
