.card-team {
  max-height: 100%;

  &__content {
    background-size: cover;
    padding-top: 100%;
    background-position: center;
    color: white;
    position: relative;
  }

  &__info {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h1, h2, h3 { margin: 0; }

  h1 {
    font-weight: bold;
    font-size: 1rem;
    padding: 5% 20px 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1rem;
    padding: 0 20px;
    text-transform: none;
  }

  h3 {
    font-size: 1rem;
    padding: 0 20px 10px;
    text-transform: none;
  }
}
