<div class="modal js-target-modal">
  <header class="modal__header modal--top-section">
    {% if event.sessionType %}
    <div class="modal__type">
      {% if event.conferenceType %}
        <span>{{event.conferenceType}}</span>
      {% endif %}
      
      <span>{{event.sessionType}}</span>
    </div>
    {% endif %}
    <i class="modal__close material-icons js-close-modal">close</i>
    <h1 class="modal__title">{{event.eventName}}</h1>
    <h2 class="modal__location">{{event.location}}</h2>
    <!-- URL -->
    {% if event.url %}
    <div class="floating-button">
      <div class="floating-button__wrapper">
        <a class="button button--floating button--black" target="_blank" href="{{resource.url}}" title="{{event.url}}">Go to Website</a>  
      </div>
    </div>
    {% endif %}
  </header>

  <section class="modal__content">
      <p></p>
      
      {% if event.eventDescription %}
      <p>{{event.eventDescription | markdownify }}</p>
      {% endif %}

      {% if event.sessionName %}
      <p><b>Session Information:</b></p>
      <p>{{event.sessionName}}</p>
      {% endif %}

      {% if event.sessionDescription %}
        <p>{{event.sessionDescription}}</p>
      {% endif %}
  </section>

</div>
