<div class="modal js-target-modal">
  <header class="modal__header modal--top-section">
    <div class="modal__resource-type">
      {% for resource_type in resource.type %}
        <span>{{resource_type}}</span>
      {% endfor %}  
    </div>
    
    <i class="modal__close material-icons js-close-modal">close</i>
    <h1 class="modal__title">{{resource.title}}</h1>
    <h2 class="modal__authors">{{resource.authors}}</h2>
    {% if resource.publication %}
    <p class="modal__publication"><span>Published in</span> {{resource.publication}}{% if resource.pubDate %} in {{resource.pubDate | date: "%Y" }}{% endif %}</p>

    {% elsif resource.pubDate %}
    <p class="modal__publication">Published in {{resource.pubDate | date: "%Y" }}</p>
    {% endif %}

    <!-- URL -->
    {% if resource.url %}
    <div class="floating-button">
      <div class="floating-button__wrapper">
        <a class="button button--floating button--black" target="_blank" href="{{resource.url}}" title="{{resource.title}}">Go to Resource</a>  
      </div>
      
      </span>
    </div>
    {% endif %}
  </header>

  <section class="modal__content">

      <!-- Short Description -->
      {% if resource.shortDescription %}
      {% if resource.annotation == ""%}
      <div class="result-item__short-description">
        <p>{{resource.shortDescription | markdownify  }}</p>
      </div>
      {% endif %}
      {% endif %}

      {% if resource.annotation %}
      <p>{{resource.annotation | markdownify }}</p>
      {% endif %}
  </section>
</div>