<header class="top-bar top-bar--transparent">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="{{ '/introduction.html' | relative_url }} ">Introduction</a>
      <a href="{{ '/explorer.html' | relative_url }}">Data Collaboratives Explorer</a>
      <a href="{{ '/canvas.html' | relative_url }}">Designing a Data Collaborative</a>
      <a href="{{ '/static/files/framework.pdf' | relative_url }}">Data Responsibility Framework</a>
      <a href="{{ '/events.html' | relative_url }}">Events</a>
      <a href="#">Current Projects</a>
      <a href="{{ '/resources.html' | relative_url }}">Additional Resources</a>
      <a href="{{ '/team.html' | relative_url }}">Team</a>
    </nav>
     <a class="top-bar__logo" href="/"><img src="/images/govlab-logo-white.png" alt="The GovLab"></a>




    <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="./sandbox.html">Sandbox</a>
    </nav> -->
  </header>
