---
layout: default
title: Events | Data Collaboratives
---

<div class="events-page">
  <div class="top-section top-section--yellow-list-page">
    <h2 class="top-section__list-header">Events</h2>
  </div>

  {% assign events = site.data.contentful.spaces.cases.events | sort: 'eventDate' )%}
  {% assign currentDate = site.time %}

  <div class="divider">
    <h1>Upcoming Events</h1>
  </div>

  <div class="page-section">
    <div class="row expanded align-center">
      <div class="large-8 column">
        {% for event in events %}
        {% assign eventDate = event.eventDate  %}

        {% if eventDate >= currentDate %}
        <div class="individual-event js-open-modal">
          <h5><a class="events-page__title" href="#">{{event.eventName}}</a></h5>
          <p>{{event.eventDate | date: "%A, %B %d, %Y" }}</p>
          {% include events-modal.html %}
        </div>
        {% endif %}
        {% endfor %}


        {% if events[-1].eventDate < currentDate and events[0].eventDate != currentDate %}
          <p>There are no upcoming events.</p>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="divider">
    <h1>Past Events</h1>
  </div>

  <div class="page-section">
    <div class="row expanded align-center">
      <div class="large-8 column">
        {% for event in events reversed %}
        {% assign eventDate = event.eventDate  %}
        {% if eventDate < currentDate %}
        <div class="individual-event js-open-modal">
          <h5><a class="events-page__title" href="#">{{event.eventName}}</a></h5>
          <p>{{event.eventDate | date: "%A, %B %d, %Y" }}</p>
          {% include events-modal.html %}
        </div>
        {% endif %}
        {% endfor %}

        {% if events[0].eventDate > currentDate and events[0].eventDate != currentDate %}
          <p>There are no past events.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- <section class="events-panels">
    <div class="row expanded align-center">
      <div class="large-6 column events-panels__first">
        <h4>Upcoming Events</h4>
        {% for event in events %}
        {% assign eventDate = event.eventDate  %}

        {% if eventDate >= currentDate %}
        <div class="individual-event js-open-modal">
          <h5><a class="events-panels__title" href="#">{{event.eventName}}</a></h5>
          <p>{{event.eventDate | date: "%A, %B %d, %Y" }}</p>
          {% include events-modal.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="large-6 column events-panels__second">
        <h4>Past Events</h4>
        {% for event in events reversed %}
        {% assign eventDate = event.eventDate  %}
        {% if eventDate < currentDate %}
        <div class="individual-event js-open-modal">
          <h5><a class="events-panels__title" href="#">{{event.eventName}}</a></h5>
          <p>{{event.eventDate | date: "%A, %B %d, %Y" }}</p>
          {% include events-modal.html %}
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
  </section> -->
  </div>
</div>
