---
layout: default
title: Events | Data Collaboratives
---

<div class="events-page">
  <div class="top-section top-section--yellow-list-page">
    <h2 class="top-section__list-header">Events</h2>
  </div>

  <section class="events-panels">

    <div class="row expanded align-center">

      <div class="large-6 column events-panels__first">
        <h5>Upcoming Events</h5>
      </div>

      <div class="large-6 column events-panels__second">
        <h5>Past Events</h5>
      </div>
    </div>

  </section>

  <div class="page-section">
    {% assign events = site.data.contentful.spaces.cases.events %}
    {% assign currentDate = site.time | date: '%A, %B %d, %Y' %}
    {% assign currentDate = currentDate | plus: 0 %}

    {% for event in events %}
    <div class="row">
      <div class="columns">
        {% assign eventDate = event.eventDate %}
        {% assign eventDate = eventDate | plus: 0 %}

        {% if eventDate <= currentDate %}

          <h4>{{event.eventName}}</h4>
          <p>Date: {{event.eventDate | date: "%A, %B %d, %Y" }}</p>

          {% if event.url %}
            <a href="{{event.url}}">Go to website</a>
          {% endif %}

          <p>Location: {{event.eventLocation[":lat"]}}, {{event.eventLocation[":lon"]}}</p>
          <!-- <h1>{{event.eventLocation.address}}</h1> -->
          {% if event.conferenceType %}
            <p>Type: {{event.conferenceType}}</p>
          {% endif %}
          {% if event.eventDescription %}
          <p>Description: {{event.eventDescription | markdownify }}</p>
          {% endif %}

        {% endif %}
      </div>
    </div>
    {% endfor %}


  </div>
</div>
