---
layout: default
title: Events | Data Collaboratives
---

<div class="events-page">
  <div class="top-section top-section--yellow-list-page">
    <h2 class="top-section__list-header">Events</h2>
  </div>

  {% assign events = site.data.contentful.spaces.cases.events | sort: 'eventDate' )%}
  {% assign currentDate = site.time %}

  <div class="divider">
    <h1>Upcoming Events</h1>
  </div>
  <div id="events" class="columns results-container">
    <div id="list" class="list">
    {% for event in events %}
      {% assign eventDate = event.eventDate  %}
      {% if eventDate >= currentDate %}
      <div class="result-item result-item--event js-open-modal">
        <h4 class="result-item--event__location">{{event.location}}</h4>
        <h3 class="result-item--event__name">{{event.eventName}}</h3>
        <div class="result-item--event__date fancy-date">
          <div class="fancy-date__stack">
          <span class="fancy-date__weekday">{{event.eventDate | date: "%A" }}</span>
          <span class="fancy-date__month">{{event.eventDate | date: "%B" }}</span>
          </div>        
          <span class="fancy-date__day">{{event.eventDate | date: " %d" }}</span>
          <!-- <span class="fancy-date__year">{{event.eventDate | date: "%Y" }}</span> -->
        </div>
        {% include events-modal.html %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    {% if events[-1].eventDate < currentDate and events[0].eventDate != currentDate %}
      <h4 class="no-events">There are no upcoming events.</h4>
    {% endif %}
  </div>

  <div class="divider">
    <h1>Past Events</h1>
  </div>

  <div id="events" class="columns results-container">
    <div id="list" class="list">
    {% for event in events reversed %}
      {% assign eventDate = event.eventDate  %}
      {% if eventDate < currentDate %}
      <div class="result-item js-open-modal">
        <h3 class="result-item__name">{{event.eventName}}</h3>
        <p class="result-item__authors">{{event.eventDate | date: "%A, %B %d, %Y" }}</p>
        {% include events-modal.html %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    {% if events[0].eventDate > currentDate and events[0].eventDate != currentDate %}
      <h4 class="no-events">There are no past events.</h4>
    {% endif %}
  </div>
</div>
