---
layout: default
title: Resources | Data Collaboratives
custom_js: resource-filter.js
types:
- "Blog Post"
- "Report"
- "Case Study"
- "Paper"
- "Journal Article"
- "Essay"
- "Magazine Article"
---

<div class="resources-page">
  <div class="top-section top-section--yellow-list-page">
    <h2 class="top-section__list-header">Resources</h2>
  </div>

  <div class="page-section page-section--gray">
    <!-- <div class="row align-center">
      <h4>Filters</h4>
    </div> -->

    <!-- create dropdown arrays from contentful-->
    {% assign theme_list = "" | split: "" %}

    {% for item in site.data.contentful.spaces.cases.resources %}
      {% for theme in item.theme %}
        {% assign theme_name = theme %}
        {% assign theme_list = theme_list | push: theme_name %}
      {% endfor %}
    {% endfor %}

    {% assign theme_list = theme_list | uniq %}

    <div class="filter-panel dropdown-wrapper">
      <div class="row expanded large-unstack align-spaced collapse">
        <div class="large-2 column">
          <h4>Filters</h4>
        </div>
        <div class="columns resource-type">
          <div class="select">
            <select data-filter="resource-type" id="type-filter" class="dropdown-content">
              <option id="all">Filter by Type</option>
              {% for t in page.types %}
                <option id="{{ t | slugify }}">{{ t }}</option>
              {% endfor %}
              </select>
          </div>
        </div>
        <div class="columns resource-theme">
          <div class="select">
            <select data-filter="resource-theme" id="theme-filter" class="dropdown-content">
              <option id="all">Filter by Theme</option>
              {% for theme in theme_list %}
              <option id="{{ theme | join: '' | slugify }}">{{theme}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="columns clear_filters">
          <button class="button button--icon-only" type="button" name="button"><i class="material-icons">close</i></button>
        </div>
      </div>
    </div>
  </div>

  {% assign resources = site.data.contentful.spaces.cases.resources %}

  <div class="page-section results-section">
    <div class="row expanded collapse">
      <div id="resources" class="columns results-container">
        <div id="list" class="list">
          {% for resource in resources %}
          <div class="result-item js-open-modal">
            <h2 class="result-item__name">{{resource.title}}</h2>
            <p class="result-item__authors">{{resource.authors}}</p>
            <!-- Short Description -->
            {% if resource.shortDescription %}
            <div class="result-item__short-description">
              <p>{{resource.shortDescription | markdownify }}</p>
            </div>
            {% endif %}

            <!-- Publication -->
            {% if resource.publication %}
            <div class="result-item__publication">
              <p><span>Published in</span> {{resource.publication}}{% if resource.pubDate %} in {{resource.pubDate | date: "%Y" }}{% endif %}</p>
            </div>

            {% elsif resource.pubDate %}
            <div class="result-item__publication">
              <p>Published in {{resource.pubDate | date: "%Y" }}</p>
            </div>

            {% endif %}

            <!-- Resource type -->
            {% if resource.type %}
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Type</span>
              <span class="result-item__taxonomy__value resource-type" data-type="all {% for resource_type in resource.type %}{{resource_type | slugify}}{% endfor %}">
                {% for resource_type in resource.type %}
                  <p class="result-item__tag">{{resource_type}}</p>
                {% endfor %}
              </span>
            </div>
            {% endif %}

            <!-- Resource theme -->
            {% if resource.theme %}
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Themes</span>
              <span class="result-item__taxonomy__value resource-theme" data-theme="all {% for resource_theme in resource.theme %} {{resource_theme | slugify }} {%endfor%}">
                {% for resource_theme in resource.theme %}
                  <p class="result-item__tag">{{resource_theme}}</p>
                {% endfor %}
              </span>
            </div>
            {% endif %}

            {% include resource-modal.html %}

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
